.places {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;}

.places h1 {
    font-size: 30px;}

.places h2 {
    color: inherit;
    margin: inherit;
    font-size: 30px;}

.places{
    margin: 10px 0px 0px 10px;}

.places article {
    text-align: center;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;}

.places h1 {
    grid-row: 1;
    grid-column: 1;}
    
.places article:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 2;}

.places article:nth-of-type(2) {
    grid-row: 2;
    grid-column: 2/2;}

.places article:nth-of-type(3) {
    grid-row: 3;
    position: relative;
    grid-column: 0;
    left: 50%;}
